#################################
# Unreal generierte Dateien     #
#################################
*/Build
*/Binaries
*/DerivedDataCache
*/Intermediate/
*/Saved
BuildingEscape/Content/StarterContent/

########################
# VS generierte Dateien#
########################
*.VC.db
